
.tarjetaImagen{
    height: min-content;
}
.tarjetaImagen img{
    width: 95%;
    max-height: 100%;
    
}
.botonDescarga{
    position: absolute;
    bottom:3%;
    left: 5%;
    display: none;
}
.tarjetaImagen:hover{
    .botonDescarga{
        display: flex;
    }
    filter: brightness(0.6);
    cursor: pointer;

   
    
}


